<!DOCTYPE html>
<html lang="en">

<head>
    
    <!-- Bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
         <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
    <!-- Custom css -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCL Bracket Challenge</title>
</head>

<body>

       <!-- NAVBAR -->
    
       <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-light navbar-transparent">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#authbuttons">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Navbar links -->
                <a class="navbar-brand" href="/">Avinav's Bracket Challenges</a>
                <div class="collapse navbar-collapse" id="authbuttons">
                    <ul class="navbar-nav ml-md-auto">
                        <%if(!currentUser){%>
                        <li class="nav-item active">
                            <a class="nav-link" href="/login">Login </a>
                        </li>
                        <%	} else { %>
                        <li class="nav-item active dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Signed in as <%= currentUser.username %>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/logout">Logout</a>

                            </div>
                        </li>
                        <%}%>	
                </ul>
            </div>
        </nav>
        </div>
    </div>
        <!-- END OF NAVBAR -->

    <br>
    <div class="container">
        <% if(error && error.length > 0){ %> 
    <div class="alert alert-danger" role="alert">
        <%= error  %>
    </div>
<% } %> 
<% if(success && success.length > 0){ %> 
    <div class="alert alert-success" role="alert">
         <%= success  %>
    </div>
    <% } %> 
    </div>